[Unit]
Description=Add Flathub and refresh appstream for COSMIC Store
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/astros-flathub-fix.done

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --appstream
ExecStartPost=/usr/bin/touch /var/lib/astros-flathub-fix.done
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
