[Unit]
Description=Update system Flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/nm-online -q -t 120
ExecCondition=/bin/sh -c '! /usr/bin/systemd-ac-power --low'
ExecStart=/usr/bin/flatpak update --system --noninteractive --assumeyes
TimeoutStartSec=1h
Nice=19
