[submodule "system/mkosi.images/gaming/submodules/AstrOS-gamescope-session-steam"]
	path = system/mkosi.images/gaming/submodules/AstrOS-gamescope-session-steam
	url = https://github.com/astros-linux/AstrOS-gamescope-session-steam.git
[submodule "system/mkosi.images/gaming/submodules/AstrOS-gamescope-session"]
	path = system/mkosi.images/gaming/submodules/AstrOS-gamescope-session
	url = https://github.com/astros-linux/AstrOS-gamescope-session.git
