[submodule "system/mkosi.images/gaming/submodules/gamescope-session-steam"]
	path = system/mkosi.images/gaming/submodules/gamescope-session-steam
	url = https://github.com/OpenGamingCollective/gamescope-session-steam.git
[submodule "system/mkosi.images/gaming/submodules/gamescope-session"]
	path = system/mkosi.images/gaming/submodules/gamescope-session
	url = https://github.com/OpenGamingCollective/gamescope-session.git
[submodule "system/mkosi.images/base/submodules/secureboot_objects"]
	path = system/mkosi.images/base/submodules/secureboot_objects
	url = https://code.astros-linux.org/AstrOS/secureboot_objects.git
