/buck-out
**/buck-out
/.buckconfig.*.tmp
/.buckconfig.d/tine-mounts
/.buckconfig.local
/.buckconfig.local.*.tmp
/tine.local.toml
/.buck

mkosi.local/
mkosi.local.conf
mkosi.output/
mkosi.cache/
mkosi.tools/
mkosi.tools.manifest
mkosi.key
mkosi.crt
mkosi.version
mkosi.rootpw
.mkosi-private
installer/mkosi.extra/images/*.raw.zst*
