[Unit]
Description=AstrOS image mount

[Mount]
What=/dev/disk/by-partlabel/images
Where=/images
Type=btrfs
Options=ro,noatime,nofail

[Install]
WantedBy=multi-user.target
