[Unit]
Description=Update & Cleanup user Flatpaks

[Service]
Type=oneshot
ExecCondition=/usr/bin/nm-online -q -t 120
ExecCondition=/bin/sh -c '! /usr/bin/systemd-ac-power --low'
ExecStart=/usr/bin/flatpak update --user --noninteractive --assumeyes
ExecStartPost=/usr/bin/flatpak uninstall --user --unused --noninteractive --assumeyes
TimeoutStartSec=1h
Nice=19
